<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head> </head>
  <body>
    <div th:fragment="folder-list (panelName,folders)">
      <div class="card" th:if="${folders}">
        <div class="card-header" th:text="${panelName}">Folders</div>
        <div class="card-body">
          <ul class="list-group">
            <li
              class="list-group-item d-flex justify-content-between align-items-center"
              th:each="folder:${folders}"
            >
              <a
                th:href="@{'/index/?folder='+${folder.lable}}"
                th:text="${folder.lable}"
                >Folder</a
              >
              <span class="badge badge-primary badge-pill badge-color">14</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
